@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: #ffffff;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

header {
  background: #3b3b3b;
  padding-top: 50px;
  z-index: -10;
}
header .top-header {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.6s;
}
header .top-header h2 {
  text-transform: uppercase;
  font-size: 1rem;
}
header .top-header h2 span {
  color: rgb(139, 136, 139);
}
header .top-header .top-header-2 {
  display: flex;
}
header .top-header .top-header-2 ul {
  display: flex;
}
@media screen and (max-width: 630px) {
  header .top-header .top-header-2 ul {
    display: none;
  }
}
header .top-header .top-header-2 ul li a {
  color: rgb(228, 228, 230);
  font-size: 0.8rem;
  text-decoration: none;
  margin-right: 40px;
}
header .top-header .top-header-2 ul li:hover {
  transform: scale(1.1);
  filter: brightness(200%);
}
header .top-header .top-header-2 .hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
header .top-header .top-header-2 .hamburger span {
  margin: 3px;
  padding: 1px 12px;
  border-radius: 5px;
  max-width: 20px;
  min-height: 2px;
  background: rgb(139, 136, 139);
}
header .top-header .top-header-2 .hamburger span:nth-child(3) {
  padding: 1px 10px;
}
header .first-part {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  position: relative;
  align-items: start;
  margin-top: 70px;
}
@media screen and (max-width: 540px) {
  header .first-part {
    margin-top: 40px;
    width: 100%;
    margin-left: 20px;
  }
}
header .first-part h1 {
  font-size: 3.5rem;
  line-height: 70px;
  z-index: 20;
  transition: 1.5s;
  transform: translateY(100px);
  opacity: 0;
}
header .first-part h1 .grey {
  color: rgb(139, 136, 139);
}
header .first-part h1 .grey-light {
  color: rgb(228, 228, 230);
}
header .first-part p {
  margin: 50px 0px 50px 0;
  max-width: 420px;
  font-size: 0.9rem;
  line-height: 25px;
  z-index: 20;
  transition: 2s;
  transform: translateY(100px);
  opacity: 0;
}
@media screen and (max-width: 540px) {
  header .first-part p {
    font-weight: 800;
  }
}
header .first-part img {
  position: absolute;
  right: 0;
  bottom: 130px;
  z-index: 0;
}
header .first-part .one {
  right: 230px;
  transition: 2s;
  transform: translateX(150px);
  opacity: 0;
}
@media screen and (max-width: 540px) {
  header .first-part .one {
    bottom: 0;
    right: 20px;
    width: 100%;
  }
}
header .first-part .two {
  right: -370px;
  transition: 2.5s;
  transform: translateX(150px);
  opacity: 0;
}
@media screen and (max-width: 540px) {
  header .first-part .two {
    display: none;
  }
}
header .first-part button {
  border: none;
  padding: 10px 20px;
  background: #fe5656;
  margin-bottom: 190px;
  z-index: 10;
  opacity: 0;
  transform: translateY(100px);
  transition: 2.5s;
  cursor: pointer;
}
header .first-part button:hover {
  transition: 0.2s;
  color: #fe5656;
  background: rgb(228, 228, 230);
}
@media screen and (max-width: 540px) {
  header .first-part button {
    margin-bottom: 40px;
  }
}

.second-part-bg {
  background: #313131;
}
.second-part-bg .second-part {
  width: 80%;
  margin: 0 auto;
  display: flex;
  text-align: right;
  justify-content: space-between;
}
@media screen and (max-width: 540px) {
  .second-part-bg .second-part {
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .second-part-bg .second-part {
    flex-direction: column;
    align-items: center;
  }
}
.second-part-bg .second-part .second-part-img img {
  height: 450px;
  width: 600px;
  margin: 100px 0 100px 0;
  z-index: 0;
  transition: 2s;
  opacity: 0;
  transform: translateX(-100px) translateY(-100px);
}
@media screen and (max-width: 1100px) {
  .second-part-bg .second-part .second-part-img img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 540px) {
  .second-part-bg .second-part .second-part-img img {
    width: 100%;
  }
}
.second-part-bg .second-part .second-part-text {
  margin-left: -50px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1100px) {
  .second-part-bg .second-part .second-part-text {
    margin: 0 auto;
  }
}
@media screen and (max-width: 540px) {
  .second-part-bg .second-part .second-part-text {
    margin-left: 40px;
  }
}
.second-part-bg .second-part .second-part-text h4 {
  color: #fe5658;
  margin-bottom: 20px;
  transition: 2s;
  opacity: 0;
  transform: translateX(100px);
}
.second-part-bg .second-part .second-part-text h2 {
  font-size: 1.9rem;
  margin-bottom: 30px;
  color: rgb(228, 228, 230);
  transition: 2.5s;
  opacity: 0;
  transform: translateX(-100px);
}
.second-part-bg .second-part .second-part-text p {
  font-size: 0.9rem;
  color: rgb(228, 228, 230);
  transition: 3s;
  opacity: 0;
  transform: translateX(100px);
}
.second-part-bg .second-part .second-part-text .resume-number {
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin-top: 35px;
  margin-left: -80px;
  padding: 30px 0 20px 50px;
  z-index: 10;
  background: #313131;
  transition: 3.5s;
  opacity: 0;
  transform: translateX(-100px);
}
.second-part-bg .second-part .second-part-text .resume-number span {
  color: #fe5658;
  font-size: 3.5rem;
  font-weight: 800;
  margin-right: 20px;
}
.second-part-bg .second-part .second-part-text .resume-number p {
  color: rgb(228, 228, 230);
  font-weight: 700;
  line-height: 25px;
}
.second-part-bg .second-part .second-part-text .resume-number .year-exp {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
@media screen and (max-width: 540px) {
  .second-part-bg .second-part .second-part-text .resume-number .year-exp {
    margin-right: 20px;
  }
}
.second-part-bg .second-part .second-part-text .resume-number .properties-built {
  display: flex;
  align-items: center;
}

.third-part {
  display: flex;
  justify-content: space-between;
  height: 480px;
}
@media screen and (max-width: 815px) {
  .third-part {
    flex-direction: column;
    height: 100%;
  }
}
.third-part .third-part-text {
  margin-top: 80px;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 1.3s;
  opacity: 0;
  transform: translateX(-100px);
}
@media screen and (max-width: 815px) {
  .third-part .third-part-text {
    margin-top: 15px;
    margin-left: 20px;
  }
}
.third-part .third-part-text h4 {
  color: #fe5658;
  margin-bottom: 15px;
}
.third-part .third-part-text h2 {
  color: #313131;
  max-width: 470px;
  font-size: 1.9rem;
  margin-bottom: 30px;
}
@media screen and (max-width: 935px) {
  .third-part .third-part-text h2 {
    font-size: 1.7rem;
  }
}
.third-part .third-part-text p {
  line-height: 27px;
  font-weight: 600;
  font-size: 0.9rem;
  color: #313131;
  max-width: 360px;
  margin-bottom: 65px;
}
@media screen and (max-width: 930px) {
  .third-part .third-part-text p {
    margin-bottom: 20px;
  }
}
.third-part .third-part-text button {
  color: #fe5658;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 800;
}
.third-part .third-part-text button i {
  color: #fe5656;
  margin-left: 10px;
}
.third-part .third-part-img {
  position: relative;
  transition: 1.5s;
  opacity: 0;
  transform: translateX(100px);
}
.third-part .third-part-img img {
  height: 480px;
  width: 450px;
  z-index: 0;
}
@media screen and (max-width: 815px) {
  .third-part .third-part-img img {
    width: 100%;
  }
}
.third-part .third-part-img button {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  background: #fe5656;
  border: none;
  height: 75px;
  width: 75px;
  cursor: pointer;
}
@media screen and (max-width: 815px) {
  .third-part .third-part-img button {
    bottom: 7px;
  }
}

@media screen and (max-width: 540px) {
  .four-part {
    display: flex;
    flex-direction: column-reverse;
  }
}
.four-part .four-part-img {
  position: relative;
  height: 400px;
  transition: 1.2s;
  opacity: 0;
  transform: translateX(-100px);
  background: url(../img/pexels-gdtography-911758.jpg) center/cover;
}
.four-part .four-part-img button {
  position: absolute;
  bottom: 0;
  background: #fe5656;
  border: none;
  height: 75px;
  width: 75px;
  cursor: pointer;
}
.four-part .four-part-sponsor {
  width: 80%;
  margin: 0 auto;
  height: 350px;
  transition: 1.2s;
  opacity: 0;
  transform: translateY(100px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 500px) {
  .four-part .four-part-sponsor {
    height: 450px;
  }
}
@media screen and (max-width: 775px) {
  .four-part .four-part-sponsor {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 680px) {
  .four-part .four-part-sponsor {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .four-part .four-part-sponsor {
    grid-template-columns: 1fr 1fr;
  }
}

.five-part {
  background: #3b3b3b;
  height: 550px;
  transition: 1s;
  opacity: 0;
  transform: translateY(100px);
}
.five-part .five-part-text {
  width: 80%;
  margin: 0 auto;
}
.five-part .five-part-text h4 {
  margin-top: 50px;
  color: #fe5658;
  margin-bottom: 20px;
}
@media screen and (max-width: 545px) {
  .five-part .five-part-text h4 {
    margin-top: 10px;
  }
}
.five-part .five-part-text h2 {
  color: rgb(228, 228, 230);
  font-size: 1.9rem;
  max-width: 500px;
  margin-bottom: 30px;
}
.five-part .five-part-text p {
  line-height: 27px;
  color: rgb(228, 228, 230);
  max-width: 800px;
  font-size: 0.9rem;
  margin-bottom: 50px;
}
.five-part .five-part-point {
  font-size: 0.8rem;
  width: 80%;
  margin: 0 auto;
}
.five-part .five-part-point h3 {
  color: rgb(228, 228, 230);
  font-weight: 500;
}
.five-part .five-part-point span {
  border: 1px rgb(228, 228, 230) solid;
  padding: 8px 15px;
  border-radius: 50%;
  margin-right: 40px;
}
@media screen and (max-width: 545px) {
  .five-part .five-part-point span {
    margin-right: 10px;
  }
}
.five-part .five-part-point .one-two-three {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 70px;
  grid-column-gap: 160px;
}
@media screen and (max-width: 1180px) {
  .five-part .five-part-point .one-two-three {
    grid-column-gap: 20px;
  }
}
@media screen and (max-width: 830px) {
  .five-part .five-part-point .one-two-three {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }
}
@media screen and (max-width: 540px) {
  .five-part .five-part-point .one-two-three {
    margin-left: -20px;
  }
}

footer {
  background: #313131;
}
footer .footer-bg {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 540px) {
  footer .footer-bg {
    width: 100%;
  }
}
footer .footer-bg .first-part-footer {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 540px) {
  footer .footer-bg .first-part-footer {
    flex-direction: column-reverse;
  }
}
footer .footer-bg .first-part-footer .footer-text {
  margin-top: 80px;
}
@media screen and (max-width: 540px) {
  footer .footer-bg .first-part-footer .footer-text {
    margin-top: 20px;
    padding-left: 20px;
  }
}
footer .footer-bg .first-part-footer .footer-text .text-one h2 {
  color: rgb(228, 228, 230);
  font-size: 1.9rem;
  margin-bottom: 25px;
}
footer .footer-bg .first-part-footer .footer-text .text-one p {
  color: rgb(228, 228, 230);
  font-size: 0.9rem;
  line-height: 27px;
  width: 350px;
  margin-bottom: 25px;
}
footer .footer-bg .first-part-footer .footer-text .email p:nth-child(1) {
  color: rgb(228, 228, 230);
  margin-bottom: 5px;
  font-size: 0.9rem;
}
footer .footer-bg .first-part-footer .footer-text .email p:nth-child(2) {
  color: #fe5658;
  margin-bottom: 25px;
  font-size: 1.2rem;
  font-weight: 600;
}
footer .footer-bg .first-part-footer .footer-text .phone p:nth-child(1) {
  color: rgb(228, 228, 230);
  margin-bottom: 6px;
  font-size: 0.9rem;
}
footer .footer-bg .first-part-footer .footer-text .phone p:nth-child(2) {
  color: #fe5658;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}
footer .footer-bg .first-part-footer .footer-img {
  position: relative;
  height: 400px;
  margin-right: -184px;
}
@media screen and (max-width: 540px) {
  footer .footer-bg .first-part-footer .footer-img {
    margin-right: 0;
    width: 100%;
  }
}
footer .footer-bg .first-part-footer .footer-img img {
  height: 400px;
}
@media screen and (max-width: 540px) {
  footer .footer-bg .first-part-footer .footer-img img {
    width: 100%;
  }
}
footer .footer-bg .first-part-footer .footer-img button {
  position: absolute;
  bottom: 0px;
  left: 0;
  background: #fe5656;
  border: none;
  height: 75px;
  width: 75px;
  cursor: pointer;
}
footer .footer-bg .first-part-footer .footer-img button i {
  font-size: 1.2rem;
}
footer .footer-bg .second-part-footer {
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -50px;
}
@media screen and (max-width: 540px) {
  footer .footer-bg .second-part-footer {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
}
footer .footer-bg .second-part-footer .social-icons {
  cursor: pointer;
}
footer .footer-bg .second-part-footer .social-icons i {
  color: rgb(228, 228, 230);
  margin-right: 20px;
}
footer .footer-bg .second-part-footer .copyright {
  font-size: 0.9rem;
  color: rgb(228, 228, 230);
}
footer .footer-bg .second-part-footer .language {
  text-transform: uppercase;
  color: rgb(228, 228, 230);
}/*# sourceMappingURL=index.css.map */